.carousel-container{
    width:1200px;
    margin:auto ;
    top:10px;
}


@media only screen and (max-width:570px) {
    .carousel-container{
        width: 100%;
    }
    .carousel-container img{
        height: 300px !important;
    }
    
}