.services-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:30px;
    border: 2px solid rgba(196, 191, 191, 0.889);
    padding: 20px;
    border-radius: 10px;
    width: 1200px;
    margin: auto;
}
.service-main-container h2{
    margin-top: 30px;
    margin-bottom: 30px;
    color: sandybrown;
}
@media only screen and (max-width:570px) {
    .services-container{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
}